header {
  background-color: @orange;
  color: @white;
  text-align: center;
  padding: 20px;

  h1 {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  input {
    padding: 15px;
    border: none;
    border-radius: 3px;

    &[type="submit"] {
      padding: 14px 20px;
      background-color: @white;
      background-image: url('../img/search-icon.png');
      background-repeat: no-repeat;
      background-position: 50%;
      cursor: pointer;
    }

    &[type="text"] {
      width: 350px;
    }
  }
}