.venues {
  li {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid @light-gray;

    &:first-child {
      border-top: none;
    }

    span {
      display: inline-block;
      width: 33%;
      vertical-align: middle;
    }
  }
}